<head>
  <meta charset="UTF-8">
  <title>Armado de Ficha 1/</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

      <h1 class="Titulos">Armado de Ficha</h1>

      <h2 class="Titulos">Encabezado de Ficha</h2>

      <p>
        El primer paso para crear nustro Personaje, es bautizarlo y darle un nombre, con el cual nos conoceran dentro
        del juego.
      </p>

      <label for="Name">Nombre: </label><input id="Name"><br>

      <p>
        Luego vamos a ingresar nuestro nombre, para que el master (Aquella persona que dirigue la mesa) sepa a quien
        le pertenece determinado Personaje
      </p>

      <label for="NamePlayer">Jugador: </label><input id="NamePlayer">

      <p>
        Luego ingresaremos el nivel con el cual comenzaremos en la mesa, recuerda que cada nivel da diferentes puntos
        a repartir, es importante ser sincero y aplicar el nivel que nos diaga el master.
      </p>

      <select [(ngModel)]="nivelId.nivel" (ngModelChange)="experiencia($event)">
        <option *ngFor=" let nivel2 of nivel" value={{nivel2.exp}}>{{nivel2.nivel}}</option>
      </select>

      <p>
        Y para terminar la primera seccion va la experiencia, la cual se va ganando a medida que la aventura avance.
        Recuerda que si no se comienza en nivel 0, la experiencia se carga sola.
      </p>

      <label>Experiencia: {{experienciaId}}</label>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="next">Siguiente Paso</button>
        </a>
        <a href="#" routerLink="/homepage">
          <button id="back">Paso Anterior</button>
        </a>
      </div>
    </div>

    <div id="Bg_Dawn"></div>
  </div>
</div>
