button.BotonGeneral {
  width: 125px;
  text-align: center;
}

button.Suma {
  background-image: url("src/assets/Boton Suma2.jpg");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
  width: 32px;
  height: 32px;
}
button.Resta {
  background-image: url("src/assets/Boton Resta2.jpg");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
  width: 32px;
  height: 32px;
}
