
<label>Puntos Restantes:</label><label>{{habilidadesHeroeService.pHabilidad}}</label>
<br>
<div *ngFor="let mostrar of habilidadesHeroeService.habilidadesHereo, let i = index ">
  <button class="BotonGeneral">{{habilidadesHeroeService.habilidadesHereo[i].nombre}}</button>
  <span>  {{habilidadesHeroeService.habilidadesHereo[i].puntos}}/5</span>
  <button (click)="habilidadesHeroeService.puntosHabilidades(+1, i)" class="Suma">-</button>
  <button (click)="habilidadesHeroeService.puntosHabilidades(-1, i)" class="Resta">-</button>
</div>



