<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inteligencia</title>

</head>
<body>


<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">


<h1 class="Titulos">Inteligencia [INT]</h1>

  <p class="DescripcionEstadistica">
    Es la capacidad de recordar y de razonar. Se relaciona a tiradas que requieren de
    lógica, de enseñanza académica o intelectual, memoria o el mismo razonamiento deductivo.
  </p>

  <label class="SubtitulosHabilidades">- Academicismo:</label>
  <p class="Leyendas">
    -te digo que se leer, solo que eso es u otro idioma u obra de una bestia sin cerebro- dijo Elbrim
    -el problema es que cuando escribes 5 idiomas y tienes que tomar notas rápidas usas las palabras más cortas posibles y si
    desconoces un idioma de los que están aquí quizás no entiendas el texto, así codifico mis hechizos y cartas con mi
    antiguo conclave, es más útil de lo que parece- dijo Gorkel claramente orgulloso de si mismo
  </p>
  <p class="DescripcionHabilidades">
    Academicismo es la habilidad que se relaciona con los conceptos básicos de estudio, leer, escribir y matemáticas básicas
  </p><br>

  <label class="SubtitulosHabilidades">- Cartografía:</label>
  <p class="Leyendas">
    -¿Esto es un rio?-
    -Es un camino-
    -¿Esto son olas?-
    -Eso es un bosque--¿Esto es un…?-
    -Si piensas que no puedo dibujar un maldito mapa bien veamos que tanto puedes hacer tu- dijo Ginmir mirando enojado
    a Saryl…no pensaba que se fuera a arrepentir de su desafío…
  </p>
  <p class="DescripcionHabilidades">
    La cartografía es la habilidad de poder recrear en papel un mapa que represente un sector geográfico de forma
    relativamente exacta u orientativa.
  </p><br>

  <label class="SubtitulosHabilidades">- Conducir:</label>
  <p class="Leyendas">
    -agárrense de lo que tengan a mano, esto se pondrá difícil- grito Ginmir a Saryl y Elbrim que iban en la parte de atrás del
    carruaje que cuesta abajo comenzaba a poner en peligro su forma íntegra.
  </p>
  <p class="DescripcionHabilidades">
    Conducir es la capacidad de dirigir vehículos tirados por animales o por vapor de forma exitosa
  </p><br>

  <label class="SubtitulosHabilidades">- Idiomas:</label>
  <p class="Leyendas">
    Gorkel se aclaró la garganta, se levanto de la mesa y se dirigió hacia la dama encapuchada quien murmuro en un idioma
    casi inaudible una seguidilla de sonidos guturales que generaban un aura fría en torno a los interlocutores. Gorkel hizo
    una ligera reverencia con su cabeza y se sentó en la mesa a interactuar en ese léxico que era fácil de ignorar y casi
    imposible de distinguir.
  </p>
  <p class="DescripcionHabilidades">
    Idiomas es la capacidad de poder comprender, hablar, escuchar, leer y escribir otros idiomas de forma fluida.
  </p><br>

  <label class="SubtitulosHabilidades">- Investigación:</label>
  <p class="Leyendas">
    Enterrado entre pergaminos y documentos, Gar'aldar volvió a dar una calada a su pipa. Horas más tarde, halló lo que
    había sido su prioridad: el origen de la maldición que lo aquejaba.
  </p>
  <p class="DescripcionHabilidades">
    Es la capacidad de concentrarse en buscar un objetivo en específico a pesar de que hayan factores que alteren la
    concentración o dificulten la búsqueda, también se aplica a seguir un rastro
  </p><br>

  <label class="SubtitulosHabilidades">- Medicina:</label>
  <p class="Leyendas">
    -Maldición, maldición, maldición- decía Skirm mientras trataba de cerrar la herida en su pierna y continuar huyendo,
    recordó el vendaje que Gar´aldar le había enseñado a hacer para reducir la hemorragia y continuar su camino lo más
    pronto posible.
  </p>
  <p class="DescripcionHabilidades">
    Medicina es la habilidad que, como su nombre indica, es la necesaria para aplicar conocimientos médicos.
  </p><br>

  <label class="SubtitulosHabilidades">- Música:</label>
  <p class="Leyendas">
    -Si realmente quieres ser una buena distracción, aprende a tocar esta cosa- dijo Ginmir a Elbrim mientras planeaban
    robar la posada en su hora más concurrida
  </p>
  <p class="DescripcionHabilidades">
    Es la capacidad de poder reconocer y poder crear diferentes tipos de música.
  </p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

</div>
<div id="Bg_Dawn"></div>
</div>
</div>
</body>
</html>
