<div id="Encabezado"></div>

<div id="Texto">

  <h1 class="Titulos">Armado de Ficha</h1>


  <div class="texto">

    <h2 class="Titulos">Historia del Personaje:</h2>

    <p>
      La historia, o tambien conocido como lore, es la historia de tu personaje, si bien puede parecer trival,
      es un aspecto muy importante a la hora de jugar, que que determinara como se debe comportar tu hereo.
      Como se desenvuelve en determidas situaciones, como se comunica, el proposito que tiene en este mundo.
      De todas formas no te angusties si no se te ocurre algo epico, solo no caigas en lo esteriotipado y
      no nos cuentes que heres huerfano, incomprendido que odia a la sociedad, y que estas buscando al asesino de tu
      hermano menor... ohh ya lo escribiste, bueno no te preocupes todos los principiantes crean el mismo esteriotipo,
      solo procura no ponerle un nombre japones, para que no quede... ya lo hiciste no? bueno que le vamos a hacer,
      escribe lo que te plasca, total es tu personaje y te tiene que gustar a vos =).
    </p>

  </div>
  <br>
  <div class="texto">
    <app-historia></app-historia>
  </div>

  <br>
  <br>
  <div id="botones">
    <a href="#" routerLink="/crearheroe/pasotres">
      <button class="btn btn-outline-primary mr-2" id="back">Paso Anterior</button>
    </a>
    <a href="#" routerLink="/homepage">
      <button class="btn btn-outline-primary mr-2" id="homepage">Ir a Inicio</button>
    </a>
    <a href="#" routerLink="">
      <button class="btn btn-outline-primary mr-2" id="next">Cargar Ficha</button>
    </a>
  </div>
</div>

<div id="Bg_Dawn"></div>
