body {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  color: #A3A9AD;
  background-color: transparent;
  padding: 0;
}

#Texto {
  height: 50%;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

button.BotonGeneral {
  width: 125px;
  text-align: center;
}

button.Suma {
  background-image: url("../../../../assets/Boton Suma.png");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
}

button.Resta {
  background-image: url("../../../../assets/Boton Resta.png");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
}

h1.Titulos {
  text-align: center;
}

h2.Titulos {
  text-align: left;
}

