<label>Puntos Restantes:</label><label>{{habilidadesService.pHabilidad}}</label>
<br>
<div *ngFor="let mostrar of habilidadesService.habilidadesHereo, let i = index ">
  <button class="btnMagiasHabilidades btn btn-outline-primary mr-2">{{mostrar.nombre}}</button>
  <span>  {{mostrar.puntos}}/5</span>
  <button (click)="puntosHabilidades(+1, i)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
  <button (click)="puntosHabilidades(-1, i)" class="btnSumaResta btn btn-outline-primary mr-2">-</button>
</div>

<br>

<select class="btn btn-outline-primary mr-2" [(ngModel)]="estadisticaCarga" (ngModelChange)="selectHabilidades($event)">
  <option [value]="0">Elegir Estadistica</option>
  <option *ngFor="let estadistica of estadisticasid" [value]="estadistica.statId">
    {{estadistica.nombre}}
  </option>
</select>
<select class="btn btn-outline-primary mr-2" [(ngModel)]="habilidadCarga" (ngModelChange)="cargaHabilidades($event)">
  <option [value]="0">Elegir Habilidad</option>
  <option title="{{habilidad.titulo}}" *ngFor="let habilidad of habilidadesid" [value]="habilidad.skillId">
    {{habilidad.nombre}}
  </option>
</select>
<button (click)="puntosHabilidades(+1, 2)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="puntosHabilidades(-1, 2)" class="btnSumaResta btn btn-outline-primary mr-2">-</button>
