<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fuerza</title>

</head>
<body>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Fuerza [FUE]</h1>

<p class="DescripcionEstadistica">
  Es la capacidad física de llevar peso, empujar o aplicar presión con diferentes fines. Se
  relaciona a tiradas que requieran el impulso o la potencia física del personaje.
</p>

<label class="SubtitulosHabilidades">- Armas ligeras:</label>

<p class="Leyendas">
  Desde las sombras, en el silencio total, el escurridizo Skirm se preparaba para sacar sus dagas y cortar el cuello de
  su
  objetivo, no antes, no después, debía ser preciso, ágil…
</p>

<p class="DescripcionHabilidades">
  El uso de armas que se esconden fácilmente entre los ropajes de su usuario, o en sus manos, y que su uso no restringe
  su movilidad depende de esta habilidad.
</p>

<br>

<label class="SubtitulosHabilidades">- Armas medias:</label>

<p class="Leyendas">
  -Usted señor ha ofendido mi honor, espero que se prepare para responder ante tal ofensa- dijo el viajero mientras
  desenfundaba su espada ante la mirada atónita de Elbrim que no comprendía lo que estaba pasando, o eso pretendía
  hacer parecer…
</p>

<p class="DescripcionHabilidades">
  El uso de armas que requieren del uso de una mano o las dos, estas son más grandes, no son ideales para el combate
  cerrado y requieren de algo de espacio para ser manipuladas correctamente.
</p>

<br>

<label class="SubtitulosHabilidades">- Armas pesadas:</label>

<p class="Leyendas">
  -¡Estos soldaditos se quiebran como palillos!- gritó Saryl divertido mientras blandía su estrella del alba.
</p>

<p class="DescripcionHabilidades">
  Este tipo de armas requieren el uso de ambas manos, usualmente se necesitan ciertos niveles de fuerza elevados para
  poder blandirlas y el combate cerrado es imposible con ellas.
</p>

<br>

<label class="SubtitulosHabilidades">- Atletismo:</label>

<p class="Leyendas">
  El callejón de la derecha no tenia salida, Skirm lo sabía y por eso guio a sus perseguidores hasta allí, una vez ahí
  dio 3
  saltos en los ladrillos salidos de los edificios y se desvaneció detrás de un cerco de ladrillos bastante alto, el
  cual sus
  perseguidores con sus botas pesadas y sus uniformes ajustados no podrían saltar.
</p>

<p class="DescripcionHabilidades">
  Atletismo es la Habilidad que le permite al personaje sortear barreras, correr rápido, trepar, nadar y demás proezas
  dignas de un atleta en buena forma.
</p>

<br>

<label class="SubtitulosHabilidades">- Cargar:</label>

<p class="Leyendas">
  Esos guardias no los iban a dejar pasar tan fácil, el tiempo se agotaba y Saryl no tenía tiempo para estas nimiedades,
  su
  pase estaba bien y él lo sabía pero esos guardias no lo dejarían pasar, tenían algo en contra de su grupo.
  -Señores tengo prisa y nuestros permisos están actualizados y sin multas déjennos pasar o no me hare cargo de las
  posibles implicancias que esto tenga en ustedes o sus pertenencias.
  -¿Es eso una amenaza señor…Saryl?- dijo el primer guardia
  -¿Pff sabe hablar?- se rió el segundo guardia
  Esto rompió el límite del guerrero quien golpeo al primero con su hombro y continuó corriendo hasta cargar con el
  segundo y abrir la puerta.
  -Tomen esos papeles y vámonos- dijo antes de apartar a los guardias y dejarlos a los costados de las puertas.
</p>

<p class="DescripcionHabilidades">
  Cargar es la habilidad que como su nombre indica le permite a su usuario poder correr y aplicar su fuerza contra su
  objetivo mientras se mantiene en carrera, si esto se usara en combate la bonificación de Cargar se suma al daño
  causado.
</p>

<br>

<label class="SubtitulosHabilidades">- Empuje:</label>

<p class="Leyendas">
  -Uno, dos y ¡TRES!- gritaron Gorkel y Gar´aldar mientras querían empujar la pesada puerta encantada – ciertamente es
  más difícil sin Saryl comento cansado el anciano
</p>

<p class="DescripcionHabilidades">
  La capacidad de aplicar fuerza sobre un objeto (o persona) para desplazarlo de su posición original.
</p>

<br>

<label class="SubtitulosHabilidades">- Pelea:</label>

<p class="Leyendas">
  Ginmir maldijo la situación lo habían hecho entrar sin sus armas, sin sus amuletos, solo le quedaba arreglársela de la
  forma antigua, con sus puños, la situación estaba más allá de la habilidad de sus palabras
</p>

<p class="DescripcionHabilidades">
  Es la habilidad de poder aplicar diferentes golpes o técnicas de combate que requieran el combate cerrado. Si se desea
  golpear con Pelea mientras se usen Armas tipo Nudilleras, Cestus o Garras
</p>

    </div>
    <div id="Bg_Dawn"></div>
  </div>
</div>
</body>
</html>
