<p>Prueba del Query {{queryPrueba}}</p>
<a >Historia </a>
<a > Personajes </a>
<a > Mapas </a>
<a href="#" routerLink="Pruebas"> Manual </a>
<a routerLink="crearheroe/pasouno"> Crear Personaje </a>
<option value="1">Nivel: 1</option>
<option value="2">Nivel: 2</option>
<option value="3">Nivel: 3</option>
<option value="4">Nivel: 4</option>
<option value="5">Nivel: 5</option>
<option value="6">Nivel: 6</option>
<option value="7">Nivel: 7</option>
<option value="8">Nivel: 8</option>
<option value="9">Nivel: 9</option>
<option value="10">Nivel: 10</option>
<option value="11">Nivel: 11</option>
<option value="12">Nivel: 12</option>
<option value="13">Nivel: 13</option>
<option value="14">Nivel: 14</option>
<option value="15">Nivel: 15</option>
<option value="16">Nivel: 16</option>
<option value="17">Nivel: 17</option>
<option value="18">Nivel: 18</option>
<option value="19">Nivel: 19</option>
<option value="20">Nivel: 20</option>
<option value="21">Nivel: 21</option>
<option value="22">Nivel: 22</option>
<option value="23">Nivel: 23</option>
<option value="24">Nivel: 24</option>
<option value="25">Nivel: 25</option>
<option value="26">Nivel: 26</option>
<option value="27">Nivel: 27</option>
<option value="28">Nivel: 28</option>
<option value="29">Nivel: 29</option>
<option value="30">Nivel: 30</option>
