<head>
  <meta charset="UTF-8">
  <title>Carisma</title>
</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Carisma [CAR]</h1>

  <p class="DescripcionEstadistica">
    Es la capacidad de interactuar con otros de forma efectiva o más armoniosa. Se relaciona
    a tiradas de interacciones sociales de diversos tipos.
  </p>

  <label class="SubtitulosHabilidades">- Diplomacia:</label>

  <p class="Leyendas">
    -Podemos estar peleando toda la noche...- dijo Elbrim al jefe de los bandidos -...o podemos llegar a un acuerdo sin que
    nadie salga herido.-
  </p>

  <p class="DescripcionHabilidades">
    Es la habilidad de poder mediar en un conflicto para llegar a una rápida y pacífica solución
  </p>

<br>

  <label class="SubtitulosHabilidades">- Empatía:</label>

  <p class="Leyendas">
    “¿Ves ese sentimiento de tristeza que tienes ahora que tuviste que pagar por lo dañado aun cuando tu no fuiste? Bueno
    así se sintió Saryl cuando le quitaste su ración de comida fingiendo que estabas a punto de desmayarte” sentenció de
    forma acusadora Gorkel mientras se dirigía a Elbrim.
  </p>

  <p class="DescripcionHabilidades">
    Empatía es la habilidad que le permite al personaje poder ponerse en la situación emocional de otra persona.
  </p>

      <br>

  <label class="SubtitulosHabilidades">- Etiqueta:</label>

  <p class="Leyendas">
    -¿De qué me servirá aprender todos estos nombres y linajes? ¡Apenas si me importa esta gente!- se quejaba Gorkel.
    -Puede que a tí no, pero es mejor que lo aprendas si no quieres que los nobles te echen de su fiesta.- sentenció Ginmir.
  </p>

  <p class="DescripcionHabilidades">
    Etiqueta es la habilidad que le permite al personaje relacionarse de forma educada en una situación, saber cómo
    comportarse, como vestir y como actuar ante ésta.
  </p>

      <br>

  <label class="SubtitulosHabilidades">- Intimidación:</label>

  <p class="Leyendas">
    Gar'aldar hizo chisporrotear sus manos, los ojos le resplandecían con un fulgor violáceo: -Si sabéis lo que os conviene,
    será mejor que me dejéis pasar...-
  </p>

  <p class="DescripcionHabilidades">
    Intimidación es la habilidad que le permite al personaje imponerse ante otros sin necesidad de llegar a la violencia… más
    bien como advertencia.
  </p>

      <br>

  <label class="SubtitulosHabilidades">- Liderazgo:</label>

  <p class="Leyendas">
    -Sé que están agotados, pero si llegamos antes del amanecer, podremos tomar un baño y buena comida. Confío en
    ustedes, sé que lo lograrán.-
    A pesar de ser un poco burdo, Saryl sabía llegar al corazón de sus amigos.
  </p>

  <p class="DescripcionHabilidades">
    Liderazgo es la habilidad de poder dar órdenes a un grupo de personas y motivarlas para alcanzar una meta
  </p>

      <br>

  <label class="SubtitulosHabilidades">- Manipulación:</label>

  <p class="Leyendas">
    “te lo pido por favor amigo, tu sabes que yo por ti haría lo mismo” dijo Elbrim “necesito comer si quiero estar en
    condiciones optimas para seguir con la expedición, anda, como amigo”
    Saryl asintió y le dio su comida, a pesar de que el también tenía hambre prefería que su compañero esté listo para todo.
  </p>

  <p class="DescripcionHabilidades">
    Manipulación es la habilidad que le permite al personaje hacer que alguien haga algo por el o le de algo siempre que el
    usuario sea el beneficiado.
  </p>

      <br>

  <label class="SubtitulosHabilidades">- Persuasión:</label>

  <p class="Leyendas">
    Detente, déjalo ir, el no tiene nada que ver con esto” dijo Gar´aldar mientras caminaba hacia el hechicero, “el es
    inocente” señalando a Gorkel “apenas una mente abriéndose, esto es entre tú y yo”
  </p>

  <p class="DescripcionHabilidades">
    Persuasión sirve para disuadir a un objetivo de llevar a cabo determinada acción sin una finalidad que sea beneficiosa
    solo para quien al utilice.
  </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="back">Volver a Estadisticas</button>
        </a>
      </div>
    </div>
    <div id="Bg_Dawn"></div>
  </div>
</div>

