body {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  color: #A3A9AD;
  background-color: #000;
  padding: 0;
}


#bg_up {
  height : 100%;
  width: 1920px;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../../../../../assets/bg_up.jpg");
}
#bg {
  height : 100%;
  width: 1920px;
  background-position: center top;
  background-color: transparent;
  background-image: url("../../../../../../assets/bg.jpg");
}

#Bg_Dawn{
  height: 297px;
  width: 1920px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../../../../../../assets/bg_dawn3.jpg");
}

#Encabezado {
  height: 425px;
}

#Texto {
  height: 50%;
  width: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

h1.Titulos {text-align: center}

p.DescripcionEstadistica {text-align: center; font-style: italic; font-size: medium}

p.Leyendas {text-align: right;
  font-style: italic;}

p.DescripcionHabilidades {text-align: left}

label.SubtitulosHabilidades {font-weight: bold; font-size: medium;}
