<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sabiduria</title>

</head>
<body>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Sabiduría [SAB]</h1>



  <p class="DescripcionEstadistica">
    Es la capacidad de acumular conocimientos no enciclopédicos de diversas fuentes para
    su utilización de forma práctica. Se relaciona a tiradas donde se requiera una conexión y
    comprensión de diferentes situaciones, momentos o criaturas.

  </p>

  <label class="SubtitulosHabilidades">- Interpretación:</label>
  <p class="Leyendas">
    -Es tu turno de pagar-repetía Gorkel en un volumen cada vez mayor
    -Ya te dije que si gane a los dados no me toca pagar- se excusaba Elbrim
    -Y te dije que no jugarías con tus propios dados y que jugaríamos con los mismos- espetó Gorkel
    -¿Otra vez trampa con los dados?- dijo Skirm dirigiéndose a Ginmir mientras miraba a sus compañeros discutir
    -Estas en lo correcto, y el cerebrito se hartó…o se quedo sin dinero-
  </p>
  <p class="DescripcionHabilidades">
    Interpretación es la habilidad que les permite a los personajes poder leer una situación o descifrar el ambiente.
  </p><br>

  <label class="SubtitulosHabilidades">- Naturaleza:</label>
  <p class="Leyendas">
    -Esta planta es comestible, nos vendrá bien hasta que el grandulón regrese de la ciudad con alimentos- dijo Gar’aldar
  </p>
  <p class="DescripcionHabilidades">
    Naturaleza es la capacidad de reconocer los elementos del ambiente natural, como plantas hongos y animales y tener
    noción de los, más o menos especifica que alguien que las estudia, pero una noción general al menos.
  </p><br>

  <label class="SubtitulosHabilidades">- Percepción:</label>
  <p class="Leyendas">
    “Guarden silencio” dijo Ginmir mientras aguzaba el oído en la oscuridad, “aun oigo sus pasos alejándose, pero no lo
    suficiente…”
  </p>
  <p class="DescripcionHabilidades">
    Percepción es la habilidad de reconocer el terreno, futuros eventos o la veracidad de una frase.
  </p><br>

  <label class="SubtitulosHabilidades">- Reparaciones:</label>
  <p class="Leyendas">
    Aprovechando la pausa en el viaje y que los demás estaban preparando todo para la cena, Gorkel se tomó un minuto
    para cocer su bolso, no quería volver a perder otro valioso frasco de tinta
  </p>
  <p class="DescripcionHabilidades">
    Reparaciones es la habilidad que permite restaurar las cosas, desde cocer un bolso o un zapato hasta enastar una lanza
    nueva que tenga el cabo quebrado, también arreglar algunas abolladuras en armaduras se puede lograr gracias a esta
    habilidad. Esta habilidad no funciona para mejorar equipamiento de ningún tipo, para eso se deberá tener una técnica
    especifica como herrería o carpintería.
  </p><br>

  <label class="SubtitulosHabilidades">- Supervivencia:</label>
  <p class="Leyendas">
    La soledad no era un problema para él, había pasado muchos inviernos por su cuenta, sabía muy bien como refugiares,
    orientarse y abastecerse, pero este invierno, con estos jóvenes, sería diferente…afortunadamente para el anciano
    Gar´aldar
  </p>
  <p class="DescripcionHabilidades">
    Supervivencia es la habilidad que le permite al personaje, orientarse, saber refugiarse, saber conseguir alimento y saber
    sobrevivir en general a la intemperie.
  </p><br>

  <label class="SubtitulosHabilidades">- Teología:</label>
  <p class="Leyendas">
    Gar’aldar imbuía su cetro con los poderes de dioses oscuros, recitaba sus nombres en el orden que aparecían en los
    Manuscritos de las Primeras Muertes, aunque de odas formas de memoria también podría, el hablaba con ellos
    constantemente.
  </p>
  <p class="DescripcionHabilidades">
    Teología es el conocimiento que se tiene sobre los diferentes dioses, credos y el estudio sobre estos.
  </p><br>

  <label class="SubtitulosHabilidades">- Trato con animales:</label>
  <p class="Leyendas">
    -Eso es pequeño- dijo Skirm mientras el pájaro mensajero se dejaba atar el mensaje en su pata, era su primer intento así
    que solo podía confiar en él, aunque sabía que lo haría, siempre lo hacían
  </p>
  <p class="DescripcionHabilidades">
    Trato con animales es la habilidad que les permite a los personajes estar en relación más estrecha con los animales y ser
    más allegados a estos mismos.
  </p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

  <label class="SubtitulosHabilidades"></label>
  <p class="Leyendas"></p>
  <p class="DescripcionHabilidades"></p><br>

    </div>
    <div id="Bg_Dawn"></div>
  </div>
</div>

</body>
</html>
