<head>
  <meta charset="UTF-8">
  <title>Armado de Ficha Paso Tres</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

      <h1 class="Titulos">Armado de Ficha</h1>

      <h2 class="Titulos">Esencias:</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a>
          <button id="next">Siguiente Paso</button>
        </a>
        <a href="#" routerLink="/crearheroe/pasoseis">
          <button id="back">Paso Anterior</button>
        </a>
        <a href="#" routerLink="/homepage">
          <button id="homepage">Ir a Inicio</button>
        </a>
      </div>
    </div>

    <div id="Bg_Dawn"></div>
  </div>
</div>
