<head>
  <meta charset="UTF-8">
  <title>Arcanismo</title>
</head>

<div id="bg">

<div id="bg_up">

<div id="Encabezado"></div>

<div id="Texto">

<h1 class="Titulos"> Arcanismo [ARC] </h1>

  <p class="DescripcionEstadistica">
    Esta estadística es la que se utiliza para utilizar Esencias y canalizar magia, es lo que
    define la conexión del personaje con la magia. También tiene Habilidades relacionadas con el
    mundo mágico y presentara facilidades para interpretarlo y comprenderlo.
  </p>

  <label class="SubtitulosHabilidades">- Armas mágicas:</label><br>

  <p class="Leyendas">
    “-ESTAMOS RODEADOS!!! no tenemos salida- dijo el escurridizo Skirm<br>
    -Toma, seguro que sabrás como usarla- dijo Gorkel,<br>
    mientras le alcanzaba uno de los colmillos de Cruaj-Zun,<br>
    la daga encantada con la maldición de la serpiente."
  </p>

  <p class="DescripcionHabilidades">
    Armas mágicas le da la capacidad de utilizar armas de origen mágico y poder aplicar sus efectos
  </p>

<br>

  <label class="SubtitulosHabilidades">- Meditación:</label >

<br>

  <p class="Leyendas">
    "Gorkel sabía que este no sería el final del combate,<br>
    así que aprovecho la ventana de tiempo para intentar recuperar algo de energía mágica,<br>
    si querían salir de allí en una pieza,<br>
    necesitarían que el joven taumaturgo este en su máximo poder…"
  </p>

  <p class="DescripcionHabilidades">
    Capacidad mágica de regenerar todos los usos de una Magia (si supera la dificultad tira 1d6 para usos)

<br>

  <label class="SubtitulosHabilidades">- Ocultismo:</label>

  <p class="Leyendas">
    "Gorkel se preparaba para abrirse paso por el claro,<br>
    cuando una mano amiga lo retuvo y la voz siseante de Ginmir le advirtió:<br>
    -¿A caso no ves eso?- dijo el encapuchado,<br>
    mientras un destello ambarino se poso en sus ojos y<br>
    pudo distinguir el sello mágico que marcaba el suelo delante de ellos.<br>
    -No sabía que alguien protegería este lugar- dijo el muchacho<br>
    -Siempre los protegen-"
  </p>

  <p class="DescripcionHabilidades">
    Ocultismo es la capacidad de ver la magia separada de lo mundano, o ver donde hay vestigios de magia. También se
    podría decir que es una forma de percibir la magia.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Pociones:</label>


  <p class="Leyendas">
    "Gar´aldar se encontraba en su cabaña del bosque,<br>
    explicándole a su compañero Gorkel como crear pociones:<br>
    - Echaste mucha hoja de mandrágora en tu pasión,<br>
    más que dormir podría matar y no es lo que buscas.- Dijo el anciano.<br>
    - Lo siento, supongo que las cantidades aún no se me dan bien.- titubeo el joven aprendiz."
  </p>

  <p class="DescripcionHabilidades">
    Pociones es la habilidad que permite crear elixires de diversos usos si se tienen los materiales en las proporciones
    correctas, ya sean pociones sanadoras, dormir o crear pequeñas explosiones y venenos. (Revisar el capítulo de Pociones)
  </p>

<br>


  <label class="SubtitulosHabilidades">- Resistencia mágica:</label>


      <p class="Leyendas">
    "Sin dudarlo ni un segundo, <br>
    Saryl se lanzó a interceptar esa llamarada que el brujo lanzo sobre Elbrim,<br>
    al recibir el impacto, sobre su piel,<br>
    apareció un ligero destello verde que lo protegió del fuego.
  </p>

  <p class="DescripcionHabilidades">
    Resistencia mágica es la habilidad de resistir embates mágicos.
  </p>

<br>

  <label class="SubtitulosHabilidades"> - Rituales:</label>

  <p class="Leyendas">
    Sin pronunciar palabra alguna y habiéndose cubierto la frente de sal y sangre,<br>
    Gar'Aldar entró en el Círculo Mágico.<br>
    Consultar a los demonios era siempre revelador,<br>
    pero agotaba las fuerzas del anciano.
  </p>

  <p class="DescripcionHabilidades">
    Capacidad de origen mágico que dota de conocimiento para realizar rituales, y la habilidad de canalizarlos. Estos pueden
    tener finalidades tan diversas como las mismas magias.
  </p>

<br>

  <label class="SubtitulosHabilidades"> - Rúnico: </label>

  <p class="Leyendas">
    " -Un gran poder a costa de un gran precio- rezaba la inscripción tallada en rúnico de la empuñadura.<br>
    Saryl desconocía el significado de tales palabras y blandió el mandoble hacia los Acechantes.<br>
    Craso error, el "gran precio", sería parte de su Esencia..."
  </p>

  <p class="DescripcionHabilidades">
    Rúnico es la capacidad de leer y escribir Runas de diversos orígenes y efectos, así como los idiomas más antiguos.
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="botones">
    <a href="#" routerLink="/crearheroe/pasodos">
      <button id="back">Volver a Estadisticas</button>
    </a>
  </div>
</div>
  <div id="Bg_Dawn"></div>
</div>
</div>

