#Encabezado {
  height: 205px;
}

#Bg_Dawn {
  height: 297px;
  width: 1920px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;

}

#Texto {
  height: 50%;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

#botones {
  text-align: center;
}
#next {
  float: right;
}
#back{
  float: left;
}
#homepage {
}

button.BotonGeneral {
  width: 125px;
  text-align: center;
}

button.Suma {
  background-image: url("src/assets/Boton Suma2.jpg");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
  width: 32px;
  height: 32px;
}



button.Resta {
  background-image: url("src/assets/Boton Resta2.jpg");
  background-position: center;
  background-size: contain;
  color: transparent;
  border-color: darkgrey;
  width: 32px;
  height: 32px;
}

h1.Titulos {
  text-align: center;
}

h2.Titulos {
  text-align: left;
}

button {
  font-size: 18px
}

select {
  font-size: 18px
}
