<div id="Encabezado"></div>

<div id="Texto">

  <h1 class="Titulos">Armado de Ficha</h1>

  <h2 class="Titulos">Modificadores:</h2>

  <p>
    Los modificadores son todas esas estadísticas que pueden ir fluctuando si
    se utilizan magias para alterar su funcionamiento normal o si se recibe
    daño, en el caso de vitalidad. Estas se separan en 4: Vitalidad Claridad,
    Potencia y Defensa.<br>
    Claridad, Defensiva y Ofensiva comparten la característica de diferenciarse
    en dos aspectos, uno mágico y otro más terrenal (mental o físico), estos
    modificadores afectan el resultado final de las tiradas cuando son tiradas
    enfrentadas o que tengan como objetivo a otro personaje, no en la tirada
    per se.<br>
  </p>

  <h3>Vitalidad: {{armadoCincoService.modificadores[6].valor}}</h3>
  <p>
    Es la salud del personaje y esta tiene un máximo que se calcula
    con la siguiente fórmula: 20 + 1d20 + (1d10 x
    Resistencia)
  </p>
  <button (click)="armadoCincoService.rollDeVeinte()" class="botonDado">{{armadoCincoService.dado1d20}}</button>
  <button (click)="armadoCincoService.rollDeDiez()"
          class="botonDado">{{armadoCincoService.modificadores[6].dado}}</button>
  <br>
  <button (click)="armadoCincoService.calcularVitalidad()" class="botonCalculo">Calcular</button>
  <br>
  <br>
  <h3>Claridad: </h3>

  <p>
    Es el Modificador que afecta a las tiradas mentales y emocionales en el aspecto mental,
    en el caso de su aspecto mágico se encarga de magias de potenciar objetivos, de sanarlos o de
    meterse en sus mentes.<br>
    Claridad Magica Formula: 1d6 + Carisma<br>
    Claridad Mental Formula: 1d6 + Inteligencia o sabiduría (elige una)
  </p>
  <table>
    <tr>
      <td>
        <h4>Claridad Mental: {{armadoCincoService.modificadores[0].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(0)"
                class="botonCalculo">{{armadoCincoService.modificadores[0].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(5, 0)" class="botonDado">INT</button>
        <button (click)="armadoCincoService.calcularModificadores(7, 0)" class="botonDado">SAB</button>
      </td>
      <td>
        <h4>Claridad Magica: {{armadoCincoService.modificadores[1].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(1)"
                class="botonCalculo">{{armadoCincoService.modificadores[1].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(2,1)" class="botonCalculo">Carisma</button>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <h3>Defensiva:</h3>
  <p>
    Es el Modificador que aumenta la efectividad de las tiradas defensivas, en las mágicas
    suele referirse a las magias de escudos o de resistencia, y en el físico se encarga de sumarse a la
    resistencia.<br>
    Defensiva Magica Formula: 1d6 + Voluntad<br>
    Defensiva Fisica Formula: 1d6 + Resistencia
  </p>
  <table>
    <tr>
      <td>
        <h4>Defenciva Fisica: {{armadoCincoService.modificadores[2].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(2)"
                class="botonCalculo">{{armadoCincoService.modificadores[2].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(6, 2)" class="botonCalculo">Resistencia</button>
      </td>
      <td>
        <h4>Defenciva Magica: {{armadoCincoService.modificadores[3].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(3)"
                class="botonCalculo">{{armadoCincoService.modificadores[3].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(8,3)" class="botonCalculo">Voluntad</button>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <h3>Ofensiva:</h3>
  <p>
    Es el Modificador que afecta a las tiradas ofensivas, sumándose en la potencia de una
    magia o en la fuerza de un golpe, también se pude utilizar para empujar, cargar o cualquier tirada
    relacionada con Fuerza.<br>
    Ofenciva Magica Formula: 1d6 + Arcanismo<br>
    Ofenciva Fisica Formula: 1d6 + Fuerza
  </p>
  <table>
    <tr>
      <td>
        <h4>Defenciva Fisica: {{armadoCincoService.modificadores[4].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(4)"
                class="botonCalculo">{{armadoCincoService.modificadores[4].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(4, 4)" class="botonCalculo">Fuerza</button>
      </td>
      <td>
        <h4>Defenciva Magica: {{armadoCincoService.modificadores[5].valor}}</h4>
        <button (click)="armadoCincoService.rollDeSeis(5)"
                class="botonCalculo">{{armadoCincoService.modificadores[5].dado}}</button>
        <br>
        <button (click)="armadoCincoService.calcularModificadores(0,5)" class="botonCalculo">Arcanismo</button>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <h2 class="Titulos">Tecnicas:</h2>

  <p>
    las Técnicas, son la especificación de una Habilidad, la cual sirve para mejorar en +2 al uso de la misma,
    cuando la tecnica es aplicada.<br>
    Cada Técnica puede afectar de una a tres Habilidades, es decir que se podrá elegir una
    técnica que pueda afectar a más de una habilidad y todas estas se verán beneficiadas por la
    mejora.<br>
    Pero todas las Habilidades deben perteneser a la una unica Estadística.
  </p>
  <app-mostrar-tecnica></app-mostrar-tecnica>
  <app-crear-tecnica #CrearTecnica></app-crear-tecnica>
  <button (click)="CrearTecnica.abrirModal(null)">Agragar Tecnica</button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="botones">
    <a href="#" routerLink="/crearheroe/pasoseis">
      <button (click)="cargaDatosJugador()" id="next">Siguiente Paso</button>
    </a>
    <a href="#" routerLink="/crearheroe/pasocuatro">
      <button id="back">Paso Anterior</button>
    </a>
    <a href="#" routerLink="/homepage">
      <button id="homepage">Ir a Inicio</button>
    </a>
  </div>
</div>

<div id="Bg_Dawn"></div>
