<div id="baner"></div>
<nav>
<ul>
  <li class="menu">
    <a class="submenu"><button>Leyendas</button></a>
    <div class="opciones">
    </div>
  </li>
  <li class="menu">
    <a class="submenu"><button>Personajes</button></a>
    <div class="opciones">
    </div>
  </li>
  <li class="menu">
    <a class="submenu"><button>Regiones</button></a>
    <div class="opciones">
    </div>
  </li>
  <li class="menu">
    <a class="submenu" routerLink="/crearheroe/pasouno"><button>Crear Personaje</button></a>
    <div class="opciones">
    </div>
  </li>
</ul>
</nav>

<router-outlet></router-outlet>

