<label>Puntos Restantes:</label><label>{{esenciasService.pEsencia}}</label>

<br>

<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Fortaleza</button>
</a>
<label>  {{esenciasService.prEsencias[0].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarFortaleza(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarFortaleza(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Apoyo</button>
</a>
<label>  {{esenciasService.prEsencias[1].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarApoyo(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarApoyo(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Control</button>
</a>
<label>  {{esenciasService.prEsencias[2].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarControl(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarControl(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Cuerpo</button>
</a>
<label>  {{esenciasService.prEsencias[3].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarCuerpo(+1)" class="btnSumaResta btn btn-outline-primary mr-2"> +</button>
<button (click)="esenciasService.ModificarCuerpo(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Daño</button>
</a>
<label>  {{esenciasService.prEsencias[4].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarDanio(+1)" class="btnSumaResta btn btn-outline-primary mr-2"> +</button>
<button (click)="esenciasService.ModificarDanio(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Elementalismo</button>
</a>
<label>  {{esenciasService.prEsencias[5].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarElementalismo(+1)" class="btnSumaResta btn btn-outline-primary mr-2"> +</button>
<button (click)="esenciasService.ModificarElementalismo(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Invocacion</button>
</a>
<label>  {{esenciasService.prEsencias[6].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarInvocacion(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarInvocacion(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2">Mente</button>
</a>
<label>  {{esenciasService.prEsencias[7].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarMente(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarMente(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>


<a>
  <button class="btnEsnEst btn btn-outline-primary mr-2"> Sagacidad</button>
</a>
<label>  {{esenciasService.prEsencias[8].puntos}}</label><label> /5 </label>
<button (click)="esenciasService.ModificarSagacidad(+1)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
<button (click)="esenciasService.ModificarSagacidad(-1)" class="btnSumaResta btn btn-outline-primary mr-2"> -</button>
<br>
