
<select>
    <option>--Elije Una Estadistica--</option>
    <option>--Arcanismo--</option>
    <option>--Volundad--</option>
    <option>--Astucia--</option>
    <option>--Carisma--</option>
    <option>--Destreza--</option>
    <option>--Fuerza--</option>
    <option>--Inteligencia--</option>
    <option>--Resistencia--</option>
    <option>--Sabiduria--</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Utilizar armas mágicas y efectos.">Armas mágicas</option>
    <option title="Regenera usos de una Magia.">Meditacion</option>
    <option title="Forma de percibir la magia.">Ocultismo</option>
    <option title="Crear elixires/Pociones.">Pociones</option>
    <option title="Bloquea Ataques Magicos.">Resistencia mágica</option>
    <option title="Realizar rituales y canalizarlos.">Rituales</option>
    <option title="Capacidad de leer y escribir Runas.">Rúnico</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Percibir el entorno y adelantarse a un suceso.">Alerta</option>
    <option title="Dar funcionalidad a ciertos elementos del entorno.">Armamento improvisado</option>
    <option title="Saber manejarse en el submundo de las ciudades.">Callejeo</option>
    <option title="Realizar intercambios, transacciones o negociar correctamente.">Finanzas</option>
    <option title="Capacidad de robar sin que se percaten de ello.">Latrocinio</option>
    <option title="Capacidad de engañar a uno o más objetivos.">Mentir</option>
    <option title="Apuntar a un objetivo.">Puntería</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Mediar en un conflicto para llegar a una rápida y pacífica solución.">Diplomacia</option>
    <option title="Poder ponerse en la situación emocional de otra persona.">Empatía</option>
    <option title="Relacionarse de forma educada, cómo comportarse, como vestir y como actuar.">Etiqueta</option>
    <option title="Imponerse ante otros atraves del miedo.">Intimidación</option>
    <option title="Dar órdenes a un grupo de personas y motivarlas para alcanzar una meta.">Liderazgo</option>
    <option title="Hacer que alguien realise determina accion atraves de chantajes.">Manipulación</option>
    <option title="Hacer que alguien realise determina accion atraves del encanto y la razon.">Persuasión</option>
  </select>



  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="El uso de armas que disparen algún proyectil.">Armas de disparo</option>
    <option title="Permite arrojar objetos con precisión.">Arrojar</option>
    <option title="Capacidad física de realizar proezas en terreno difícil sin caerse.">Equilibrio</option>
    <option title="Capacidad fisica de evadir/evitar el ataque contrario">Esquivar</option>
    <option title="Realizar tareas de precisión y motricidad fina.">Manualidades</option>
    <option title="Poder montar y dirigir a un animal.">Montar</option>
    <option title="Permite realizar acciones sin ser detectado.">Sigilo</option>
  </select>



  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Saltar, correr, trepar, nadar, entre otros.">Atletismo</option>
    <option title="Uso de armas chicas, faciles de ocultar y manejar.">Armas ligeras</option>
    <option title="Uso de armas que requieren de una mano o las dos.">Armas medias</option>
    <option title="Uso de armas que requieren de dos manos.">Armas pesadas</option>
    <option title="Correr y aplicar fuerza contra un objetivo.">Cargar</option>
    <option title="Aplicar fuerza sobre un objetivo para desplazarlo de su posición original.">Empuje</option>
    <option title="Poder aplicar diferentes golpes o técnicas de combate.">Pelea</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Conceptos básicos de estudio, leer, escribir y matemáticas básicas.">Academicismo</option>
    <option title="Poder recrear en papel un mapa que represente un sector geográfico.">Cartografía</option>
    <option title="Dirigir vehículos tirados por animales o por vapor.">Conducir</option>
    <option title="Capacidad de poder comprender, hablar, escuchar, leer y escribir otros idiomas.">Idiomas</option>
    <option title="Concentrarse en buscar un objetivo en específico.">Investigación</option>
    <option title="Necesaria para aplicar conocimientos médicos.">Medicina</option>
    <option title="capacidad de poder reconocer y poder crear diferentes tipos de música.">Música</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Continuar con cansancio, hambre o herido.">Aguante</option>
    <option title="Agarres fisicos con el fin de inmovilizar al objetivo.">Apresar</option>
    <option title="Absorber un impacto sin recibir o reducir el daño.">Bloqueo</option>
    <option title="El uso de ropaje pesado y no verse interferido por el peso.">Equipamiento pesado</option>
    <option title="Capacidad de aguantar en una posición o lugar, derribos y ciertos controles de masa.">Firmeza</option>
    <option title="Recuperar el ritmo cuando se está cansado y renovar las fuerzas.">Recuperación</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Permite a los personajes poder leer una situación o descifrar el ambiente.">Interpretación</option>
    <option title="Reconocer los elementos del ambiente natural.">Naturaleza</option>
    <option title="Reconocer el terreno, futuros eventos o la veracidad de una frase.">Percepción</option>
    <option title="Restaurar Objetos.">Reparaciones</option>
    <option title="Orientarse, refugiarse, alimentarse, sobrevivir en intemperie.">Supervivencia</option>
    <option title="Conocimiento sobre los diferentes dioses,credos y el estudio de estos.">Teología</option>
    <option title=" Entablar relación estrecha y allegados con los animales.">Trato con Animales</option>
  </select>

  <select>
    <option>--Elije Una Habilidad--</option>
    <option title="Poder controlarse ante situaciones adbersas y mantener la calma.">Autocontrol</option>
    <option title="Mantener el enfoque en la tarea que se esta haciendo.">Concentración</option>
    <option title="Mantener una decision, idea o meta, para continuar hacia su objetivo.">Convicción</option>
    <option title="Valor para realizar ciertas proezas.">Coraje</option>
    <option title="Tener un presentimiento o sensación extra a la de sus sentidos">Instintos</option>
    <option title="Resistir hechizos de control que impidan el lanzamiento de habilidades o desplazamiento.">Tenacidad</option>
  </select>

<label id="PuntosHabilidadDies">0</label><label> /5</label>
<button> + </button>
<button> - </button>
<br>
<select [ngModel]="SelectedEstadisticas.id" (ngModelChange)="onSelected($event)">
  <option *ngFor="let estadistica of stats" value={{estadistica.id}}>
    {{estadistica.name}}
  </option>
</select>


{{skill | json}}
