<select class="SelectorMagias" name="Magias">
  <option>--Elije Una Esencia--</option>
  <option>--Apoyo: primer nivel--</option>
  <option>--Control: Primer nivel--</option>
  <option>--Cuerpo: Primer nivel--</option>
  <option>--Daño: primer nivel--</option>
  <option>--Elementalismo: primer nivel--</option>
  <option>--Fortaleza: primer nivel--</option>
  <option>--Invocación: primer nivel--</option>
  <option>--Mente: primer nivel--</option>
  <option>--Sagacidad: primer nivel--</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Amplificador de fuerzas</option>
  <option title="">Cobertura</option>
  <option title="">Impulso</option>
  <option title="">Curación</option>
  <option title="">Manto místico</option>
  <option title="">Marca del Condenado</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Atadura</option>
  <option title="">Silencio</option>
  <option title="">Cegar</option>
  <option title="">Dormir</option>
  <option title="">Marcha en trance</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Armamento óseo</option>
  <option title="">Coraza ósea</option>
  <option title="">Escamas Cenizas</option>
  <option title="">Moldeo del Elemento propio</option>
  <option title="">Extender</option>
  <option title="">Manipular el elemento muerto</option>
  <option title="">Reflejos eléctricos</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Potenciar el envase </option>
  <option title="">Energía mágica</option>
  <option title="">Explosión</option>
  <option title="">Toxina</option>
  <option title="">Arma guía</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Habilidad Elemental – Elementum</option>
  <option title="">Paso elemental</option>
  <option title="">Piel del elemento</option>
  <option title="">Comer elemento</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Mitigar</option>
  <option title="">Robustez</option>
  <option title="">Coraza</option>
  <option title="">Espíritu Férreo</option>
  <option title="">Guardaespaldas</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Armamento</option>
  <option title="">Encantamiento de equipamiento</option>
  <option title="">Invocación efímera </option>
  <option title="">Llamar</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Lenguas del placer</option>
  <option title="">Telequinesis</option>
  <option title="">Ojos del miedo</option>
  <option title="">Ojos que no ven</option>
  <option title="">Nulo</option>
  <option title="">Comunicación mental</option>
  <option title="">Cuidador de secretos</option>
  <option title="">Lectura</option>
  <option title="">Mas allá</option>
</select>

<select>
  <option>--Elije Una Magia--</option>
  <option title="">Fuego reducido</option>
  <option title="">Oculto</option>
  <option title="">Salto</option>
  <option title="">Sed de vida</option>
  <option title="">Rastrear lo arcano</option>
  <option title="">Percibir la magia</option>
  <option title="">Lengua astuta</option>
  <option title="">Ecos</option>
</select>
