<head>
  <meta charset="UTF-8">
  <title>Voluntad</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">


<h1 class="Titulos">Voluntad [VOL]</h1>


  <p class="DescripcionEstadistica">
    Es la capacidad de mantenerse integro y de resistir impulsos del ambiente o de
    sucumbir a estados alterados. Se relaciona a tiradas donde se necesite mantener cordura o evitar
    ser manipulado por los demás. Cabe mencionar que los efectos de la Esencia del Control se
    resisten con Voluntad y Habilidades afines.
  </p>

  <label class="SubtitulosHabilidades">- Autocontrol:</label>
  <p class="Leyendas">
    -¡Calma Gorkel, piensa en todo lo que puedes dañar, necesitas calmarte!- gritaba Elbrim a Gorkel
    -tie...tienes razón- dijo Gorkel mientras rompía la canalización de su supernova elemental –hay mejores métodos, pero
    ese es mío-
  </p>
  <p class="DescripcionHabilidades">
    El autocontrol es la habilidad que permite poner paños fríos a uno mismo para que una situación no se salga de control,
    es la capacidad de frenarse ante algún impulso muy desenfrenado de querer realizar alguna acción desmedida o
    impropia del personaje
  </p><br>

  <label class="SubtitulosHabilidades">- Concentración:</label>
  <p class="Leyendas">
    La batalla estaba en todo su fragor, los guerreros al frente, el tanque protegiendo al anciano mientras se concentraba
    para dibujar los glifos del ritual y realizar sus cánticos, sabían que en gran medida dependían de que Gar´aldar y Gorkel
    pudieran comenzar ese ritual, de lo contrario estarían en grandes problemas.
  </p>
  <p class="DescripcionHabilidades">
    Concentración les permite a los personajes mantener el enfoque en la tarea que están haciendo aunque haya ruido o
    distracciones a su alrededor.
  </p><br>

  <label class="SubtitulosHabilidades">- Convicción:</label>
  <p class="Leyendas">
    Un compañero herido, dos fuera de combate y las bestias se seguían acercando, Gar´aldar quería sacar a todos de allí,
    pero tenían que terminar su misión si o si y aunque sea mediante él esto se iba a conseguir.
  </p>
  <p class="DescripcionHabilidades">
    Convicción es la habilidad que se utiliza para continuar con lo que estás haciendo a pesar de que hayan motivos propios
    o inducidos para terminar dicha acción, también se podría decir que sirve para mantener las ideas o los pensamientos
    ante habilidades o momentos donde normalmente se cambiaria de parecer.
  </p><br>

  <label class="SubtitulosHabilidades">- Coraje:</label>
  <p class="Leyendas">
    -Tiene que ser ahora- se dijo a si mismo Ginmir mientras tenía una ventana de 3 segundos para saltar de una góndola a
    otra a la sombra de los dos centinelas, reunió valor y saltó de forma magistral.
  </p>
  <p class="DescripcionHabilidades">
    Coraje es, como su nombre lo indica, esta habilidad que dota a su usuario del valor para realizar ciertas proezas que lo
    intimiden, o la habilidad para mantenerse estoico a pesar de que la situación sea claramente desfavorable
  </p><br>

  <label class="SubtitulosHabilidades">- Instintos:</label>
  <p class="Leyendas">
    -¡Atrás!- Grito Saryl y puso una de sus enormes manos frente al diminuto Skirm –algo no está bien aquí-
  </p>
  <p class="DescripcionHabilidades">
    Instintos es esa habilidad que le permite al usuario tener un presentimiento o una sensación extra a la que le pueden
    entregar sus sentidos.
  </p><br>

  <label class="SubtitulosHabilidades">- Tenacidad:</label>
  <p class="Leyendas">
    La estridente risa de Saryl resonó en la recamara –esas retenciones débiles no funcionan conmigo pequeño hombrecillo,
    ahorremos tu dolor y dame lo que busco, a menos que…-
  </p>
  <p class="DescripcionHabilidades">
    Tenacidad es la Habilidad que ayuda a resistir parte de la fuerza de los hechizos de control que impidan el lanzamiento
    de habilidades o el desplazamiento.
  </p><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="back">Volver a Estadisticas</button>
        </a>
      </div>
    </div>
    <div id="Bg_Dawn"></div>
  </div>
</div>

