<head>
  <meta charset="UTF-8">
  <title>Resistencia</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Resistencia [RES]</h1>


  <p class="DescripcionEstadistica">
    Es la capacidad de poder aguantar los embates del entorno. Se relaciona a tiradas
    defensivas o que requieran del aguante físico.
  </p>

  <label class="SubtitulosHabilidades">- Aguante:</label>
  <p class="Leyendas">
    Gorkel bufaba cansado, con el rostro perlado en sudor. El camino era difícil, pero debía cruzar el río por encima de las
    piedras, no sabía nadar...
  </p>
  <p class="DescripcionHabilidades">
    Aguante es la habilidad que le permite al personaje continuar con la marcha, o poder caminar con cansancio, hambre o
    incluso herido, un símbolo de aguante y determinación.
  </p><br>

  <label class="SubtitulosHabilidades">- Apresar:</label>
  <p class="Leyendas">
    Elbrim pensó que se había salido con la suya, se había escapado de los 7 guardias y se disponía a mirar su botín cuando
    de repente un guardia lo apresó apenas permitiéndole respirar, él sabía que estaba frito…
  </p>
  <p class="DescripcionHabilidades">
    Apresar es la habilidad que nuclea los agarres de todo tipo que sean realizados con el cuerpo, desde una llave hasta
    simplemente un aprisionamiento simple.
  </p><br>

  <label class="SubtitulosHabilidades">- Bloqueo:</label>
  <p class="Leyendas">
    Gorkel se cubrió el rostro con su libro para protegerse del ataque mágico y una sombra salto en frente suyo, no era la
    primera vez que esa silueta recibía un golpe que iba dirigido al pequeño mago. – ¿Estás bien?- la voz de Saryl lo
    tranquilizo.
  </p>
  <p class="DescripcionHabilidades">
    Bloqueo es la habilidad que permite posicionar correctamente el cuerpo y su equipamiento defensivo de forma rápida y
    eficiente para absorber un impacto sin recibir daño.
  </p><br>

  <label class="SubtitulosHabilidades">- Equipamiento pesado:</label>
  <p class="Leyendas">
    Al terminar la misión el gremio de herreros cumplió con lo prometido y les entrego ese pesado escudo Titánico, todos
    sabían quién era el único que podía cargarlo hábilmente en combate, entre ellos Saryl sonrió.
  </p>
  <p class="DescripcionHabilidades">
    Es la capacidad de poder utilizar equipamiento pesado (Armaduras o escudos) y poder maniobrar con ellos, esta
    habilidad se utiliza para aplicar golpes con escudos, o como tirada de preparación para poder correr con armaduras,
    permite tener tiradas de atletismo a partir de nivel 3.
  </p><br>

  <label class="SubtitulosHabilidades">- Firmeza:</label>
  <p class="Leyendas">
    Saryl recibió los embates de 4 objetivos, seriamente dañado, seguía en pie, firme, como un monumento de la protección,
    mientras su equipo escapaba sabiendo que la rabia de Saryl lo ayudaría con el resto…
  </p>
  <p class="DescripcionHabilidades">
    Firmeza es la capacidad de aguantar en una posición o lugar a pesar de recibir un daño considerable, esta habilidad es
    importante para todo aquel que desee recibir el daño por los demás y permanecer siendo de ayuda. También para evitar
    derribos y ciertos controles de masa de nivel bajo.

  </p><br>

  <label class="SubtitulosHabilidades">- Recuperación:</label>
  <p class="Leyendas">
    Gorkel estaba completamente cansado y observaba a Skirm continuar, éste último lo miro y le dijo:
    -Necesitas encontrar tu segundo aire viejo, si no lo haces no podrás seguirme el ritmo y créeme, realmente lo necesitas si
    quieres salir de aquí con vida.
    Gorkel tomo aire y siguió corriendo, no sabe cómo pero pudo recuperar las energías
  </p>
  <p class="DescripcionHabilidades">
    Recuperación es la habilidad que se utiliza para ganar un segundo aire, es decir poder recuperar el ritmo cuando se está
    cansado y renovar las fuerzas, en medio de un combate sería muy útil si el cansancio comienza a socavar a los guerreros
  </p><br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="back">Volver a Estadisticas</button>
        </a>
      </div>
    </div>
    <div id="Bg_Dawn"></div>
  </div>
</div>

