<head>
  <meta charset="UTF-8">
  <title>Destreza</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Destreza [DES]</h1>

  <p class="DescripcionEstadistica">
    Se relaciona a tiradas que requieran precisión física.
  </p>

  <label class="SubtitulosHabilidades">- Armas de disparo:</label>

  <p class="Leyendas">
    Uno, dos, tres hoyos perfectamente alineados aparecieron de súbito en el blanco de prueba.
    -Y así, mi amigo, es como me deshice de esas alimañas.- sentenció Ginmir.
  </p>

  <p class="DescripcionHabilidades">
    El uso de armas que disparen algún proyectil, como armas de fuego, arcos o cerbatanas dependen de esta habilidad
  </p>

<br>

  <label class="SubtitulosHabilidades">- Arrojar:</label>

  <p class="Leyendas">
    Apuntando a la ventana mientras agitaba el gancho, Elbrim se repetía -tú puedes, tú puedes, tú puedes…-
  </p>

  <p class="DescripcionHabilidades">
    Es la habilidad que permite arrojar objetos con precisión. No se debe tener en cuenta a la hora de armamento arrojadizo
    o de proyectiles ni similares, ya que para eso se encuentran determinadas categorías de armamento.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Equilibrio:</label>

  <p class="Leyendas">
    La pared era angosta pero era necesario cruzar por allí si no quería ser descubierto, Skirm tomó aire y avanzó por ella…
  </p>

  <p class="DescripcionHabilidades">
    Equilibrio es la capacidad física de realizar proezas en terreno difícil sin caerse
  </p>

<br>

  <label class="SubtitulosHabilidades">- Esquivar:</label>

  <p class="Leyendas">
    El bárbaro seguía aporreando el suelo con su maza, cada vez más enfurecido.
    -Tendrás que hacer más que eso si pretendes darme.- se burló Skirm.
  </p>

  <p class="DescripcionHabilidades">
    Esquivar le da al personaje la capacidad de evitar ser alcanzado por ataques de otros o por agarres en general.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Manualidades:</label>

  <p class="Leyendas">
    Gar´aldar se encontraba tallando un trozo de madera, la pequeña escultura recordaba a un calamar algo extraño, se
    dirigió a Saryl y le dijo -y así es como se ve un Kraken amigo mío, solo que imagínalo del tamaño de ese barco de allí, o
    quizás un poco mas…-
  </p>

  <p class="DescripcionHabilidades">
    Manualidades es la capacidad de poder crear obras de arte o de realizar trabajos que requieran de una precisión elevada
    y gran motricidad fina.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Montar:</label>

  <p class="Leyendas">
    -Tomen una bestia y apúrense si quieren salir con vida- Rugió Saryl al tiempo que se subía a un caballo
  </p>

  <p class="DescripcionHabilidades">
    La habilidad de montar un animal y poder dirigirlo por el rumbo que el personaje desea
  </p>

<br>

  <label class="SubtitulosHabilidades">- Sigilo:</label>

  <p class="Leyendas">
    La discusión seguía acalorándose entre los clientes de la taberna que se acusaban mutuamente de robar el jarro de las
    propinas, un ligero movimiento de la puerta no los distrajo. Afuera, Elbrim contaba el botín, haber llevado a esos bardos
    a la taberna había sido buena idea.
  </p>

  <p class="DescripcionHabilidades">
    Sigilo es la habilidad que permite realizar acciones sin ser detectado a simple vista.
  </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="back">Volver a Estadisticas</button>
        </a>
      </div>
</div>
<div id="Bg_Dawn"></div>
</div>
</div>

