<head>
  <meta charset="UTF-8">
  <title>Astucia</title>
</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

<h1 class="Titulos">Astucia [AST]</h1>


  <p class="DescripcionEstadistica">
    la agudeza mental del personaje. Se relaciona a tiradas que requieran reflejos,
    espontaneidad o agudeza por parte del personaje.
  </p>

  <label class="SubtitulosHabilidades"> - Alerta: </label>

  <p class="Leyendas">
    Un centelleo cortó la caminata por el bosque, Saryl se movió veloz y una daga brillaba en su mano derecha.
    -¡Emboscada! ¡A las armas!- Gruñó el guerrero.
  </p>

  <p class="DescripcionHabilidades">
    Alerta es la habilidad que permite percibir el entorno y adelantarse a un suceso.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Callejeo:</label>

  <p class="Leyendas">
    “tranquilos muchachos, se dé un lugar donde podemos canjear esas gemas y nadie preguntara sobre su origen, digamos
    que alguien me debe un favor allí…” dijo Elbrim mientras sonreía al caminar.
  </p>

  <p class="DescripcionHabilidades">
    Callejeo es la habilidad que ayuda al personaje a saber secretos de la ciudad o a tener cierta astucia cuando se trata de
    conocer sus calles y callejones, y la seguridad de las mismas.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Equipamiento improvisado:</label>

  <p class="Leyendas">
    Saltando rápidamente detrás de la barra, Elbrim tomo la banqueta del tabernero por las patas y sonrió.
    -Ahora están en problemas bastardos.
  </p>

  <p class="DescripcionHabilidades">
    Equipamiento improvisado es la capacidad de utilizar elementos del ambiente para otra tarea, un alambre como
    ganzúas o un palo como arma entre otras cosas.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Finanzas:</label>

  <p class="Leyendas">
    -Dos monedas, tómalo o déjalo...- exclamó el comerciante.
    -¡Dos es muy poco! El tendero vecino me ofreció cuatro por mucho menos...- contestó Ginmir.
    -Tres y medio es todo lo que puedo ofrecer, más es una estafa.-Ginmir sonrió: -Está bien, pero solo porque tú me caes mejor.-
  </p>

  <p class="DescripcionHabilidades">
    Finanzas es la habilidad que ayuda al personaje a tener control de su economía y a poder realizar intercambios y
    transacciones correctamente o negociar.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Latrocinio:</label>

  <p class="Leyendas">
    En silencio, casi quieto Skirm se aprovecho del gentío en la cantina para hacerse con las bebidas de la gente de la barra,
    girar dándoles la espalda lentamente y darse vuelta antes de recibir la mirada cómplice de Elbrim que lo observaba
    desde su mesa
  </p>

  <p class="DescripcionHabilidades">
    Latrocino es la habilidad que le permite a los personajes escurridizos robar y salirse con la suya…o intentarlo.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Mentir:</label>

  <p class="Leyendas">
    -¿Elbrim? ¡Ese bastardo me debe aún unas cuantas! Si lo vuelvo a ver por aquí, ¡lo acribillaré sin dudas!- Dijo el
    "posadero" a los soldados.
    -¿Quién era?- Preguntó Gorkel cuando se fueron.
    -Problemas con armaduras- Contestó Elbrim cuando se fueron.
  </p>

  <p class="DescripcionHabilidades">
    Mentir es la capacidad de engañar a uno o más objetivos.
  </p>

<br>

  <label class="SubtitulosHabilidades">- Precisión:</label>

  <p class="Leyendas">
    Saryl estaba en aprietos, su hacha estaba lejos y estaba sosteniendo las fauces de la bestia con ambas manos, la
    situación estaba lejos de terminar bien, hasta que sintió como de a poco la bestia dejo de ejercer presión y se
    desplomaba, a lo lejos veía a su escurridizo camarada caminando hacia él.
    -Deberías dejar de creer que cargar hacia un enemigo es la mejor solución dijo Skirm mientras retiraba su flecha del ojo
    de la bestia, ser preciso requiere de paciencia, ¿un trago?-pregunto mientras le extendía su cantimplora.
  </p>

  <p class="DescripcionHabilidades">
    Precisión es la Habilidad que permite ser certero en maniobras que lo requieran, como dar un buen golpe, calcular un
    buen salto o saber cuándo exactamente se debe esquivar un ataque<br>
    Esta habilidad sirve como preparación de otras habilidades que lo requieran, esto reduce la dificultad de dicha habilidad<<br>
    en la puntuación que Pecisión tenga
  </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasodos">
          <button id="back">Volver a Estadisticas</button>
        </a>
      </div>
</div>
<div id="Bg_Dawn"></div>
</div>
</div>

