body {
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  color: #A3A9AD;
  background-color: #000;
  padding: 0;
}

#bg_up {
  height : 100%;
  width: 1920px;
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("src/assets/bg_up.jpg");
}
#bg {
  height : 100%;
  width: 1920px;
  background-position: center top;
  background-color: transparent;
  background-image: url("src/assets/bg.jpg");
}

#Encabezado {
  height: 425px;
}

#Bg_Dawn{
  height: 297px;
  width: 1920px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("src/assets/bg_dawn3.jpg");
}

#Texto {
  height: 50%;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
}

#ButtonNextPage{
  float: right;
}
