<label>Puntos Restantes:</label><label>{{magiasSelecService.pMagias}}</label>
<br>
<div  *ngFor="let mostrar of magiasSelecService.magiasHereo, let i = index ">
  <button class="btnMagiasHabilidades btn btn-outline-primary mr-2" title="{{magiasSelecService.magiasHereo[i].titulo}}">
    {{magiasSelecService.magiasHereo[i].nombre}}
  </button>
  <label>{{magiasSelecService.magiasHereo[i].puntos}}/5</label>
  <button (click)="puntosMagias(+1, i)" class="btnSumaResta btn btn-outline-primary mr-2">+</button>
  <button (click)="puntosMagias(-1, i)" class="btnSumaResta btn btn-outline-primary mr-2">-</button>
</div>

    <select class="btn btn-outline-primary mr-2" [(ngModel)]="esenciaCarga" (ngModelChange)="selectMagias($event)">
      <option [value]="0">Eleguir Estadistica</option>
      <option *ngFor="let estadistica of esenciaid" [value]="estadistica.esenciaId">
        {{estadistica.nombre}}
      </option>
    </select>

    <select class="btn btn-outline-primary mr-2" [(ngModel)]="magiaCarga" (ngModelChange)="cargaMagias($event)">
      <option [value]="0">Eleguir Habilidad</option>
      <option title="{{habilidad.titulo}}" *ngFor="let habilidad of magiaid" [value]="habilidad.skillId">
        {{habilidad.nombre}}
      </option>
    </select>

