<head>
  <meta charset="UTF-8">
  <title>Armado de Ficha Paso Tres</title>

</head>

<div id="bg">

  <div id="bg_up">

    <div id="Encabezado"></div>

    <div id="Texto">

      <h1 class="Titulos">Armado de Ficha</h1>

      <h2 class="Titulos">Magias Menores:</h2>

      <p>
        Las Magias menores son magias que, a pesar de tener una
        utilidad menor que las magias propias de las Esencias, les proveen a sus usuarios de varios trucos que
        pueden ser muy útiles y tienen un costo pequeño, un punto de Encantamiento. El Encantamiento es una
        reserva que se llena con una Condición, o sea algo que ha de ser necesario cumplir para obtener puntos de
        encantamiento y con estos utilizar las magias menores, ahora enlistaremos las condiciones y magias
        menores.
      </p>

      <h2 class="Titulos">Condición:</h2>

      <p>
        Las condiciones son los efectos que deberán cumplirse para poder obtener puntos en Encantamiento, estas
        suelen ser bastante comunes como tener tiradas exitosas de cierto tipo de magias, activar correctamente
        una esencia o algo mas especifico y siempre la cantidad de puntos obtenidos por la condición será de 1.
        Las condiciones son en esencia 2:
        -Tirada exitosa en la Esencia (elegir una de las 9)
        -Tirada exitosa en un Tipo de magia
      </p>

      <table>
        <tr>
          <td>Tipo de magia</td>
          <td>Definición</td>
        </tr>
        <tr>
          <td>Anticipación</td>
          <td>magias que pueden prepararse con cierto tiempo de antelación ante su uso</td>
        </tr>
        <tr>
          <td>Aparición</td>
          <td> Magias por las cuales el usuario puede traer a este plano diferentes súbditos o
            invocaciones como espectros, no muertos criaturas en general o incluso herramientas </td>
        </tr>
        <tr>
          <td>Bonificación</td>
          <td>El mago aumenta una o más características del objetivo</td>
        </tr>
        <tr>
          <td>Canalización</td>
          <td>Magias que requieren de más de una acción para poder ser realizadas y que en cada
            acción se realizara una tira acumulativa de efectividad.</td>
        </tr>
        <tr>
          <td>Comando</td>
          <td>El mago puede dar órdenes a criaturas u objetivos que estén bajo su control</td>
        </tr>
        <tr>
          <td>Defensiva</td>
          <td>Habilidad para defenderse</td>
        </tr>
        <tr>
          <td>Disrupción</td>
          <td>Magias que interrumpen, alteran o anulan el efecto de otras magias</td>
        </tr>
        <tr>
          <td>Enlaces</td>
          <td>Las magias que conectan a dos seres para activar efectos de cualquier tipo de un mago
            a otro</td>
        </tr>
        <tr>
          <td>Fatiga arcana</td>
          <td>Magias que luego de usarse, por la exigencia de las mismas, el usuario no puede volver a
            canalizarla en el siguiente turno ni en el actual.</td>
        </tr>
        <tr>
          <td>Interrupción</td>
          <td>La magia puede tirarse en el momento de la acción de otro usuario, estas habilidades
            restaran una acción de la propia reserva en el próximo turno (a menos que la habilidad
            describa lo contrario)</td>
        </tr>
        <tr>
          <td>Limitante</td>
          <td> Las magias condicionan o ponen límites al mago que la sutiliza </td>
        </tr>
        <tr>
          <td>Maldición</td>
          <td> Hechizos o marcas con diversos efectos en el objetivo o en la zona</td>
        </tr>
        <tr>
          <td>Morfología</td>
          <td>Magias que alteran la forma de un objeto u objetivo </td>
        </tr>
        <tr>
          <td>Ofensiva</td>
          <td>Habilidad para causar daño a un objetivo</td>
        </tr>
        <tr>
          <td>Pasivas</td>
          <td>Las magias que no requieren de tirada alguna y que están activas constantemente. Se
            pueden activar con solamente el gasto de mana</td>
        </tr>
        <tr>
          <td>Repetición</td>
          <td>Una habilidad que su activación provee 2 o más activaciones de algún efecto, estas
            recibirán bonificaciones externas en su primer uso, los demás solo recibirán la efectividad
            que dicte la habilidad y el nivel (a menos que la habilidad especifique lo contrario)</td>
        </tr>
        <tr>
          <td>Restricción</td>
          <td>El mago reduce o amaina las capacidades del objetivo</td>
        </tr>
        <tr>
          <td>Sacrificio</td>
          <td>El usuario cede de sus propios recursos o habilidades</td>
        </tr>
        <tr>
          <td>Sanación</td>
          <td>Habilidad que regenera recursos o restablece estadísticas</td>
        </tr>
        <tr>
          <td>Categoría propia</td>
          <td>magias que tienen uno o más efectos particulares que no entren en las otras definiciones</td>
        </tr>
      </table>
      <br>
      <select [(ngModel)]="armadoCuatroService.magiasMenoresHereo.condicion">
        <option>{{armadoCuatroService.magiasMenoresHereo.condicion}}</option>
        <option>Anticipación</option>
        <option>Aparición</option>
        <option>Bonificación</option>
        <option>Canalización</option>
        <option>Comando</option>
        <option>Defensiva</option>
        <option>Disrupción</option>
        <option>Enlaces</option>
        <option>Fatiga arcana</option>
        <option>Interrupción</option>
        <option>Limitante</option>
        <option>Maldición</option>
        <option>Morfología</option>
        <option>Ofensiva</option>
        <option>Pasivas</option>
        <option>Repetición</option>
        <option>Restricción</option>
        <option>Sacrificio</option>
        <option>Sanación</option>
        <option>Categoría propia</option>
        <option>Esencia: Fortaleza</option>
        <option>Esencia: Apoyo</option>
        <option>Esencia: Control</option>
        <option>Esencia: Cuerpo</option>
        <option>Esencia: Daño</option>
        <option>Esencia: Elementalismo</option>
        <option>Esencia: Invocacion</option>
        <option>Esencia: Mente</option>
        <option>Esencia: Sagacidad</option>
      </select>
      <br>
      <h2 class="Titulos">Características:</h2>

      <p>
        -Las magias menores pueden ser de cualquier tipo, pero pueden usarse una vez por turno como máximo.<br>
        -Su uso no quita acciones.<br>
        -Un mismo objetivo u objeto no puede verse bonificado por dos magias menores hasta que termine el<br>
        efecto anterior, de lo contrario solo se removería el primer efecto y se consumirán ambos puntos de
        Encantamiento.<br>
        -Tienen una potencia de 2, ya sea ofensiva o defensiva, en algunos casos no existe una bonificación
        especifica.<br>
        -Sus efectos solo duran una acción.
      </p>

      <h3>Magias Menores:</h3>

      <table>
        <tr>
          <td>Nombre</td>
          <td>Descripción</td>
          <td>Bonificación</td>
        </tr>
        <tr>
          <td>Anticipación 1</td>
          <td>Añade anticipación a otra magia </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bonificación ofensiva 1</td>
          <td>Aumenta el daño de un objeto</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bonificación ofensiva 2</td>
          <td>Aumenta el daño de una magia</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bonificación ofensiva 3</td>
          <td>Aumenta el daño de una invocación </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bonificación defensiva 1</td>
          <td>Aumenta la Resistencia</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Bonificación defensiva 2</td>
          <td>Bloquea daños</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Perceptiva 1</td>
          <td>Aumenta la astucia para tiradas de percepción</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Movilidad 1</td>
          <td>Le permite desplazarse 2 metros en cualquier direccion</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Movilidad 2</td>
          <td>Marca un punto intermedio de forma mental y se aleja 1 metro de ese punto y el objetivo más próximo
            también se aleja (10 metros para posicionar el punto mental)
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td>Reducción 1</td>
          <td>Reduce una Estadística del objetivo</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Reducción 2</td>
          <td> Reduce la resistencia del equipamiento del objetivo</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Reducción 3</td>
          <td>Reduce la resistencia de una zona objetivo</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Inteligencia 1</td>
          <td>Aumenta la investigación </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Voluntad 1</td>
          <td>Mejora las tiradas de Tenacidad </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Voluntad 2</td>
          <td>Aumenta las tiradas de coraje </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Voluntad 3</td>
          <td>Aumenta las tiradas de Autocontrol </td>
          <td>2</td>
        </tr>
        <tr>
          <td>Evasión 1</td>
          <td>Aumenta esquivar</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Telequinesis 1</td>
          <td>Desplazamiento de un objeto que pese menos de 500 gramos </td>
          <td>-</td>
        </tr>
      </table>
      <br>
      <select [(ngModel)]="armadoCuatroService.magiasMenoresHereo.magiaMenor">
        <option>{{armadoCuatroService.magiasMenoresHereo.magiaMenor}}</option>
        <option>Anticipación 1</option>
        <option>Bonificación ofensiva 1</option>
        <option>Bonificación ofensiva 2</option>
        <option>Bonificación ofensiva 3</option>
        <option>Bonificación defensiva 1</option>
        <option>Bonificación defensiva 2</option>
        <option>Perceptiva 1</option>
        <option>Movilidad 1</option>
        <option>Movilidad 2</option>
        <option>Reducción 1</option>
        <option>Reducción 2</option>
        <option>Reducción 3</option>
        <option>Inteligencia 1</option>
        <option>Voluntad 1</option>
        <option>Voluntad 2</option>
        <option>Voluntad 3</option>
        <option>Evasión 1</option>
        <option>Telequinesis 1</option>
      </select>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="botones">
        <a href="#" routerLink="/crearheroe/pasocinco">
          <button id="next" (click)="cargaDatosJugador()">Siguiente Paso</button>
        </a>
        <a href="#" routerLink="/crearheroe/pasotres">
          <button id="back">Paso Anterior</button>
        </a>
        <a href="#" routerLink="/homepage">
          <button id="homepage">Ir a Inicio</button>
        </a>
      </div>
    </div>

    <div id="Bg_Dawn"></div>
  </div>
</div>
